@model ProductCustomer.Models.RegisterViewModel

<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>



          
                <div class="container" >
                    <div class="row">
                        <div class="col-md-4 mx-auto">
                            <form class="login100-form validate-form" asp-action="Register" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="Username"></label>
                                    <input asp-for="Username" class="form-control" maxlength="100" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div><div class="form-group">
                                    <label asp-for="firstname"></label>
                                    <input asp-for="firstname" class="form-control" maxlength="100" />
                                    <span asp-validation-for="firstname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="lastname"></label>
                                    <input asp-for="lastname" class="form-control" maxlength="100" />
                                    <span asp-validation-for="lastname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="phone"></label>
                                    <input asp-for="phone" class="form-control" />
                                    <span asp-validation-for="phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="city"></label>
                                    <input asp-for="city" class="form-control" />
                                    <span asp-validation-for="city" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
      

            <!--===============================================================================================-->
            <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/bootstrap/js/popper.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/select2/select2.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/tilt/tilt.jquery.min.js"></script>
            <script>
                $('.js-tilt').tilt({
                    scale: 1.1
                })
            </script>
            <!--===============================================================================================-->
            <script src="js/main.js"></script>
