@{
    ViewData["Title"] = "Home Page";
}
@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<html style="height: 100%;"><head>
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    <title>home.jpg (2880×1880)</title></head><body style="margin: 0px; background: #0e0e0e; height: 100%">
        <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://cdn.dribbble.com/users/1998175/screenshots/17011500/downloads/home.jpg" width="811" height="529">
        </body>
</html>