@using ProductCustomer.Models;

@model IEnumerable<OrderDTO>


    <div class="container">
        <h4 class="text-success">Order History List</h4>
    </div>

    <table id="myTable" class="display">
        <thead>
            <tr>
                <th> Product Name</th>
                <th>Cutomer Name</th>  
                <th>Price</th>  

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.customerName</td>
                <td>@item.Price</td>

            </tr>
        }
        </tbody>
    </table>



  
    </div>
    <link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />


    @section scripts{


        <script type="text/javascript" src=//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js></script>

        <script>

        $(document).ready(function () {
            $('#myTable').DataTable({

                "searching": true,
            });
        });
        </script>


    }
